$grey1:#CCCCCC;
$grey2:#BDBDBD;
$grey3:#4F4F4F;
$grey4:#828282;
$green1:#0BA348;
$white1:#FAFAFA;
$grey5:#505050;
$red1:#EA1111;
$red2:#D30000;
$grey6:#707070;
$grey7:#F2F2F2;
$laptop-min:1024px;
$laptop-max:1300px;
$tablet:1023px;
$mobile1:571px;
$mobile2:322px;
$mobile3:595px;
$mobile4:455px;







