*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 0.5px solid #CCCCCC;
  padding: 0px 100px 0px 100px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .header {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 1023px) {
  .header {
    padding: 0px 30px;
  }
}
@media only screen and (max-width: 595px) {
  .header {
    padding: 0px 20px;
    height: 50px;
  }
}
.header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .logo img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-right: 10px;
}
.header .logo span {
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.header .search-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 451px;
  height: 40px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  padding: 5px 10px;
}
@media only screen and (max-width: 1023px) {
  .header .search-box {
    display: none;
  }
}
.header .search-box img {
  margin-right: 10px;
}
.header .search-box input {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: #4F4F4F;
}
.header .avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #4F4F4F;
}
.header .avatar .user-img-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 1023px) {
  .header .avatar .user-img-box {
    display: none;
  }
}
.header .avatar .user-img-box .span {
  font-size: 40px;
  color: #4F4F4F;
  margin-right: 10px;
}
.header .avatar .user-img-box .author {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #828282;
}
.header .avatar .ham {
  width: 40px;
  height: 30px;
  object-fit: cover;
  display: none;
}
@media only screen and (max-width: 1023px) {
  .header .avatar .ham {
    display: block;
  }
}
@media only screen and (max-width: 595px) {
  .header .avatar .ham {
    width: 30px;
    height: 30px;
  }
}

.nav-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-container .sidebar {
  flex-basis: 30%;
  height: 100%;
  position: relative;
  display: block;
}
@media only screen and (max-width: 1023px) {
  .nav-container .sidebar {
    display: none;
  }
}
.nav-container .sidebar .nav-buttons {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.nav-container .sidebar .nav-buttons .route {
  width: 60%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #505050;
  transition: 300ms;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .nav-container .sidebar .nav-buttons .route {
    width: 80%;
  }
}
.nav-container .sidebar .nav-buttons .route:hover {
  background-color: #0BA348;
  color: white;
  box-shadow: 0px 1px 2px 0px transparent;
}
.nav-container .sidebar .nav-buttons .route div {
  margin-left: 10px;
}
.nav-container .sidebar .nav-buttons .route2 {
  width: 60%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #505050;
  transition: 300ms;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .nav-container .sidebar .nav-buttons .route2 {
    width: 80%;
  }
}
.nav-container .sidebar .nav-buttons .route2 .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-container .sidebar .nav-buttons .route2 .content div {
  margin-left: 10px;
}
.nav-container .sidebar .nav-buttons .route2:hover {
  background-color: #0BA348;
  color: white;
  box-shadow: 0px 1px 2px 0px transparent;
}
.nav-container .sidebar .nav-buttons .route2 .badge {
  background: #EA1111;
  color: white;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.nav-container .sidebar .settings {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-container .sidebar .settings a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  margin-bottom: 40px;
  text-decoration: none;
  color: #4F4F4F;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  padding: 10px 20px;
  transition: 300ms;
  border-radius: 10px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .nav-container .sidebar .settings a {
    width: 80%;
  }
}
.nav-container .sidebar .settings a div {
  margin-left: 10px;
}
.nav-container .sidebar .settings a:hover {
  background-color: #0BA348;
  color: white;
  box-shadow: 0px 1px 2px 0px transparent;
}
.nav-container .container {
  height: 100%;
  flex: 1;
  overflow: auto;
  scrollbar-face-color: #888;
  scrollbar-track-color: #f1f1f1;
  scrollbar-arrow-color: #555;
  scrollbar-color: dark darkblue;
  scrollbar-width: thin;
  padding-top: 30px;
  padding-left: 0px;
}
@media only screen and (max-width: 1023px) {
  .nav-container .container {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 595px) {
  .nav-container .container {
    padding-left: 0px;
  }
}
.nav-container .container::-webkit-scrollbar {
  width: 10px;
}
.nav-container .container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.nav-container .container::-webkit-scrollbar-thumb {
  background: #888;
}
.nav-container .container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.snippets {
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 30px;
}
.snippets .snippet-header {
  color: #505050;
  font-family: "Clash Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1023px) {
  .snippets .snippet-header {
    font-size: 15px;
    line-break: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .snippets .snippet-header {
    margin-bottom: 10px;
  }
}

.story-cards {
  width: 91%;
  height: 130px;
  border-bottom: 0.5px solid #CCCCCC;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px 0px transparent;
  transition: 300ms;
  padding: 20px;
  text-decoration: none;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .story-cards {
    width: 96%;
  }
}
@media only screen and (max-width: 1023px) {
  .story-cards {
    width: 96%;
  }
}
@media only screen and (max-width: 1023px) {
  .story-cards {
    width: 100%;
    padding: 10px;
  }
}
.story-cards:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.story-cards img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  margin-right: 30px;
}
.story-cards .card-header {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #D30000;
  margin-bottom: 10px;
}
.story-cards .card-topic {
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 10px;
  color: #505050;
}
.story-cards .card-author {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  margin-bottom: 10px;
  color: #505050;
}
.story-cards .card-date {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #707070;
}

.uploads {
  width: 91%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px;
}
@media only screen and (max-width: 1023px) {
  .uploads {
    width: 96%;
    margin-bottom: 20px;
  }
}
.uploads .upload-btn {
  background-color: #0BA348;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #F2F2F2;
  text-decoration: none;
  border-radius: 8px;
}
@media only screen and (max-width: 1023px) {
  .uploads .upload-btn {
    width: 140px;
    font-size: 12px;
    line-height: 15px;
  }
}

.drafts {
  width: 91%;
  padding-left: 0px;
}
@media only screen and (max-width: 1023px) {
  .drafts {
    width: 96%;
  }
}
@media only screen and (max-width: 595px) {
  .drafts {
    padding-left: 20px;
  }
}
.drafts .card2 {
  width: 100%;
  height: 130px;
  border-bottom: 0.5px solid #CCCCCC;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px 0px transparent;
  transition: 300ms;
  padding: 20px;
  text-decoration: none;
}
@media only screen and (max-width: 455px) {
  .drafts .card2 {
    height: 150px;
    padding: 10px;
  }
}
.drafts .card2:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.drafts .card2 img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  margin-right: 30px;
}
.drafts .card2 .card-header {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #D30000;
  margin-bottom: 10px;
}
.drafts .card2 .card-header-empty {
  width: 80px;
  height: 26px;
  margin-bottom: 10px;
  border-bottom: 2px solid #D30000;
}
@media only screen and (max-width: 455px) {
  .drafts .card2 .card-header-empty {
    width: 50px;
  }
}
.drafts .card2 .card-topic-empty {
  width: 150px;
  height: 19px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}
@media only screen and (max-width: 455px) {
  .drafts .card2 .card-topic-empty {
    width: 100px;
  }
}
.drafts .card2 .card-topic {
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 10px;
  color: #505050;
}
.drafts .card2 .card-author {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  margin-bottom: 10px;
  color: #505050;
}
.drafts .card2 .card-date {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #707070;
}

.login {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
@media only screen and (max-width: 1023px) {
  .login {
    overflow: auto;
    padding-top: 70px;
  }
}
@media only screen and (max-width: 322px) {
  .login {
    overflow: hidden;
  }
}
.login .img-block {
  width: 45%;
  height: inherit;
  display: block;
}
@media only screen and (max-width: 1023px) {
  .login .img-block {
    display: none;
  }
}
.login .img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login .login-details {
  height: 100%;
  flex: 1;
}

.login-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 70px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .login-header {
    padding: 20px 40px;
  }
}
@media only screen and (max-width: 1023px) {
  .login-header {
    padding: 20px 30px;
    height: 60px;
    display: none;
  }
}
.login-header img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
@media only screen and (max-width: 1023px) {
  .login-header img {
    height: 20px;
    width: 20px;
  }
}
.login-header span {
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
@media only screen and (max-width: 1023px) {
  .login-header span {
    font-size: 12px;
    line-height: 14px;
  }
}

.error {
  width: 100%;
  text-align: center;
  padding: 20px 40px;
  color: #D30000;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1023px) {
  .error {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 571px) {
  .error {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .error {
    padding: 20px 20px;
    margin-bottom: 20px;
  }
}

.User-link {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0px 40px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .User-link {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .User-link {
    margin-bottom: 20px;
  }
}
.User-link div {
  width: 300px;
  text-align: center;
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  overflow: hidden;
}
@media only screen and (max-width: 1023px) {
  .User-link div {
    font-size: 16px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 571px) {
  .User-link div {
    width: 280px;
  }
}
.User-link div .dot {
  color: #707070;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}

.navlink {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .navlink {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .navlink {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 571px) {
  .navlink {
    margin-bottom: 10px;
  }
}
.navlink a {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2509803922);
  border: 1px solid #CCCCCC;
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 8px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .navlink a {
    width: 70%;
  }
}
@media only screen and (max-width: 1023px) {
  .navlink a {
    width: 70%;
    font-size: 13px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 571px) {
  .navlink a {
    width: 80%;
  }
}
.navlink a img {
  margin-right: 10px;
}

.option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.option div {
  width: 50%;
  height: 3px;
  background-color: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  color: #707070;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .option div {
    width: 70%;
  }
}
@media only screen and (max-width: 1023px) {
  .option div {
    width: 70%;
  }
}
@media only screen and (max-width: 571px) {
  .option div {
    margin-bottom: 10px;
    width: 80%;
  }
}
.option div span {
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .input-box {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .input-box {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 571px) {
  .input-box {
    margin-top: 20px;
  }
}
.input-box .div {
  width: 50%;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .input-box .div {
    width: 70%;
  }
}
@media only screen and (max-width: 1023px) {
  .input-box .div {
    width: 70%;
    font-size: 14px;
    line-height: 15px;
  }
}
@media only screen and (max-width: 571px) {
  .input-box .div {
    width: 80%;
  }
}
.input-box .div span {
  color: #D30000;
}
.input-box .div input {
  margin-top: 5px;
  width: 100%;
  padding: 10px 10px;
  border-radius: 7px;
  border: 1px solid #CCCCCC;
  outline: none;
  color: #707070;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
}
@media only screen and (max-width: 1023px) {
  .input-box .div input {
    font-size: 14px;
    line-height: 15px;
  }
}
.input-box .div input:focus {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid #2F80ED;
}

.submit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media only screen and (max-width: 571px) {
  .submit {
    margin-top: 20px;
  }
}
.submit div {
  width: 50%;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509803922);
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .submit div {
    width: 70%;
  }
}
@media only screen and (max-width: 1023px) {
  .submit div {
    font-size: 14px;
    line-height: 15px;
    width: 70%;
  }
}
@media only screen and (max-width: 571px) {
  .submit div {
    width: 80%;
  }
}

.container1 {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-warn {
  width: 80%;
  height: 50px;
  border: 2px solid #D30000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D30000;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px 20px;
  margin-left: 0px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .upload-warn {
    width: 90%;
  }
}
@media only screen and (max-width: 1023px) {
  .upload-warn {
    width: 96%;
    margin-left: 10px;
    font-size: 13px;
    line-height: 13px;
    height: 40px;
  }
}
@media only screen and (max-width: 595px) {
  .upload-warn {
    width: 92%;
    margin-left: 20px;
  }
}

.upload-title {
  margin-bottom: 30px;
  margin-left: 0px;
}
@media only screen and (max-width: 1023px) {
  .upload-title {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 595px) {
  .upload-title {
    margin-left: 20px;
  }
}

.label {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
@media only screen and (max-width: 1023px) {
  .label {
    font-size: 13px;
    line-height: 13px;
  }
}
.label span {
  color: #D30000;
}

.title-input {
  margin-top: 10px;
  width: 91%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 5px;
}
@media only screen and (max-width: 1023px) {
  .title-input {
    width: 97%;
  }
}
@media only screen and (max-width: 595px) {
  .title-input {
    width: 95%;
  }
}
.title-input:focus {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid #2F80ED;
}

.textarea {
  margin-top: 10px;
  width: 91%;
  padding: 20px 20px;
  outline: none;
  border: 1px solid #CCCCCC;
  height: 400px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 5px;
  resize: none;
}
@media only screen and (max-width: 1023px) {
  .textarea {
    width: 97%;
  }
}
@media only screen and (max-width: 595px) {
  .textarea {
    width: 95%;
    height: 200px;
  }
}
.textarea:focus {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid #2F80ED;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .categories {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 595px) {
  .categories {
    padding: 10px 25px;
  }
}
.categories .select-category {
  text-decoration: underline;
  color: black;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  flex-basis: 15%;
}
@media only screen and (max-width: 1023px) {
  .categories .select-category {
    font-size: 13px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 595px) {
  .categories .select-category {
    flex-basis: 40%;
  }
}

.cats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.category {
  padding: 7px 7px;
  color: black;
  background-color: white;
  border-radius: 5px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  transition: 300ms;
  margin-right: 15px;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) {
  .category {
    font-size: 13px;
    line-height: 14px;
    padding: 4px 4px;
  }
}
.category:hover {
  color: white;
  background-color: black;
}

.upload-section {
  width: 91%;
  height: 300px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
  padding: 0px 0px;
}
@media only screen and (max-width: 1023px) {
  .upload-section {
    height: 250px;
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 595px) {
  .upload-section {
    height: 150px;
    padding: 0px 25px;
  }
}
.upload-section .display-image {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-right: 40px;
}
@media only screen and (max-width: 1023px) {
  .upload-section .display-image {
    width: 300px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 595px) {
  .upload-section .display-image {
    width: 380px;
  }
}
.upload-section .display-image .img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px dashed #CCCCCC;
}
.upload-section .display-image .img2 {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.upload-section .clicked {
  width: 200px;
  height: 50px;
}
@media only screen and (max-width: 1023px) {
  .upload-section .clicked {
    width: 100px;
    height: 30px;
  }
}
.upload-section .upload {
  width: 400px;
  height: 200px;
}
.upload-section .upload .story-cover-image {
  color: black;
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) {
  .upload-section .upload .story-cover-image {
    font-size: 15px;
    line-height: 17px;
  }
}
.upload-section .upload .image-support {
  color: #707070;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1023px) {
  .upload-section .upload .image-support {
    font-size: 13px;
    line-height: 14px;
  }
}

.submit-section {
  width: 91%;
  height: 150px;
  margin-top: 30px;
  margin-left: 0px;
}
@media only screen and (max-width: 1023px) {
  .submit-section {
    width: 95%;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 595px) {
  .submit-section {
    width: 91%;
    margin-left: 20px;
  }
}
.submit-section .submit-story {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1023px) {
  .submit-section .submit-story {
    width: 100%;
    font-size: 15px;
    line-height: 16px;
    height: 40px;
  }
}
.submit-section .black {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: black;
  color: white;
}
.submit-section .green {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #0BA348;
  color: white;
}

.modal {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.modal .modal-btns {
  width: 700px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.modal .modal-btns .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-btns .modal-topic {
  text-align: center;
  padding: 20px;
  color: black;
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}
.modal .modal-btns .modal-message {
  padding: 10px 0px;
  text-align: center;
  color: #828282;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}
.modal .modal-btns .modal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.modal .modal-btns .modal-btn-container .modal-save {
  width: 40%;
  height: 60px;
  margin-right: 20px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
.modal .modal-btns .modal-btn-container .publish {
  color: white;
  background-color: #0BA348;
}
.modal .modal-btns .modal-btn-container .cancle {
  border: 1px solid #BDBDBD;
  color: black;
}

.Navbar {
  height: 100vh;
  width: 500px;
  background-color: white;
  position: fixed;
  top: 0;
  overflow-y: auto;
  padding: 20px;
  left: -100%;
  transition: all 0.5s;
}
@media only screen and (max-width: 595px) {
  .Navbar {
    width: 100%;
  }
}
.Navbar .nav-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.Navbar .nav-user span {
  font-size: 40px;
}
.Navbar .nav-user .nav-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Navbar .nav-user .nav-name .name-container {
  margin-left: 10px;
}
.Navbar .nav-user .nav-name .name-container .main-name {
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #4F4F4F;
}
.Navbar .nav-user .nav-name .name-container .nav-author {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}
.Navbar .search-box2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  padding: 5px 10px;
}
.Navbar .search-box2 img {
  margin-right: 10px;
}
.Navbar .search-box2 input {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: #4F4F4F;
}

.nav-btn1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  margin-top: 30px;
  color: #505050;
  width: 100%;
  padding: 10px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 7px;
  transition: 300ms;
}
.nav-btn1:hover {
  background-color: #0BA348;
  color: white;
}
.nav-btn1 div {
  margin-left: 10px;
}

.nav-btn2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  margin-top: 30px;
  color: #505050;
  width: 100%;
  padding: 10px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 7px;
  transition: 300ms;
}
.nav-btn2:hover {
  background-color: #0BA348;
  color: white;
}
.nav-btn2 .nav-first {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-btn2 .nav-first div {
  margin-left: 10px;
}
.nav-btn2 .badge2 {
  background: #EA1111;
  color: white;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}/*# sourceMappingURL=App.css.map */