*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 0.5px solid #CCCCCC;
  padding: 0px 100px 0px 100px;
}
.header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .logo img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-right: 10px;
}
.header .logo span {
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.header .search-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 451px;
  height: 40px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  padding: 5px 10px;
}
.header .search-box img {
  margin-right: 10px;
}
.header .search-box input {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: #4F4F4F;
}
.header .avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #4F4F4F;
}
.header .avatar .user-img-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .avatar .user-img-box .span {
  font-size: 40px;
  color: #4F4F4F;
  margin-right: 10px;
}
.header .avatar .user-img-box .author {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #828282;
}
.header .avatar .ham {
  width: 40px;
  height: 30px;
  object-fit: cover;
  display: none;
}

.nav-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-container .sidebar {
  flex-basis: 30%;
  height: 100%;
  position: relative;
}
.nav-container .sidebar .nav-buttons {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.nav-container .sidebar .nav-buttons .route {
  width: 60%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #505050;
  transition: 300ms;
  margin-bottom: 15px;
}
.nav-container .sidebar .nav-buttons .route:hover {
  background-color: #0BA348;
  color: white;
  box-shadow: 0px 1px 2px 0px transparent;
}
.nav-container .sidebar .nav-buttons .route div {
  margin-left: 10px;
}
.nav-container .sidebar .nav-buttons .route2 {
  width: 60%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #505050;
  transition: 300ms;
  margin-bottom: 15px;
}
.nav-container .sidebar .nav-buttons .route2 .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-container .sidebar .nav-buttons .route2 .content div {
  margin-left: 10px;
}
.nav-container .sidebar .nav-buttons .route2:hover {
  background-color: #0BA348;
  color: white;
  box-shadow: 0px 1px 2px 0px transparent;
}
.nav-container .sidebar .nav-buttons .route2 .badge {
  background: #EA1111;
  color: white;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.nav-container .sidebar .settings {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-container .sidebar .settings a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  margin-bottom: 40px;
  text-decoration: none;
  color: #4F4F4F;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  padding: 15px 20px;
  transition: 300ms;
  border-radius: 10px;
}
.nav-container .sidebar .settings a div {
  margin-left: 10px;
}
.nav-container .sidebar .settings a:hover {
  background-color: #0BA348;
  color: white;
  box-shadow: 0px 1px 2px 0px transparent;
}
.nav-container .container {
  height: 100%;
  flex: 1;
  overflow: auto;
  scrollbar-face-color: #888;
  scrollbar-track-color: #f1f1f1;
  scrollbar-arrow-color: #555;
  scrollbar-color: dark darkblue;
  scrollbar-width: thin;
  padding-top: 30px;
}
.nav-container .container::-webkit-scrollbar {
  width: 10px;
}
.nav-container .container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.nav-container .container::-webkit-scrollbar-thumb {
  background: #888;
}
.nav-container .container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.snippets {
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 30px;
}
.snippets .snippet-header {
  color: #505050;
  font-family: "Clash Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 20px;
}

.story-cards {
  width: 91%;
  height: 130px;
  border-bottom: 0.5px solid #CCCCCC;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px 0px transparent;
  transition: 300ms;
  padding: 20px;
  text-decoration: none;
}
.story-cards:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.story-cards img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  margin-right: 30px;
}
.story-cards .card-header {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #D30000;
  margin-bottom: 10px;
}
.story-cards .card-topic {
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 10px;
  color: #505050;
}
.story-cards .card-author {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  margin-bottom: 10px;
  color: #505050;
}
.story-cards .card-date {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #707070;
}

.uploads {
  width: 91%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.uploads .upload-btn {
  background-color: #0BA348;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #F2F2F2;
  text-decoration: none;
  border-radius: 8px;
}

.drafts {
  width: 91%;
}
.drafts .card2 {
  width: 100%;
  height: 130px;
  border-bottom: 0.5px solid #CCCCCC;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px 0px transparent;
  transition: 300ms;
  padding: 20px;
  text-decoration: none;
}
.drafts .card2:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.drafts .card2 img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  margin-right: 30px;
}
.drafts .card2 .card-header {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #D30000;
  margin-bottom: 10px;
}
.drafts .card2 .card-header-empty {
  width: 80px;
  height: 26px;
  margin-bottom: 10px;
  border-bottom: 2px solid #D30000;
}
.drafts .card2 .card-topic-empty {
  width: 150px;
  height: 19px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}
.drafts .card2 .card-topic {
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 10px;
  color: #505050;
}
.drafts .card2 .card-author {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  margin-bottom: 10px;
  color: #505050;
}
.drafts .card2 .card-date {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #707070;
}

.login {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .img-block {
  width: 45%;
  height: inherit;
}
.login .img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login .login-details {
  height: 100%;
  flex: 1;
}

.login-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 70px;
}
.login-header img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.login-header span {
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.error {
  width: 100%;
  text-align: center;
  padding: 20px 40px;
  color: #D30000;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 30px;
}

.User-link {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0px 40px;
}
.User-link div {
  width: 300px;
  text-align: center;
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.User-link div .dot {
  color: #707070;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}

.navlink {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.navlink a {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2509803922);
  border: 1px solid #CCCCCC;
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 8px;
}
.navlink a img {
  margin-right: 10px;
}

.option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.option div {
  width: 50%;
  height: 3px;
  background-color: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.option div span {
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.input-box .div {
  width: 50%;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
.input-box .div span {
  color: #D30000;
}
.input-box .div input {
  margin-top: 5px;
  width: 100%;
  padding: 10px 10px;
  border-radius: 7px;
  border: 1px solid #CCCCCC;
  outline: none;
  color: #707070;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
}
.input-box .div input:focus {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid #2F80ED;
}

.submit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.submit div {
  width: 50%;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509803922);
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

.container1 {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=App.css.map */