*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 0.5px solid #CCCCCC;
  padding: 0px 100px 0px 100px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .header {
    padding: 0px 40px;
  }
}
@media only screen and (max-width: 1023px) {
  .header {
    padding: 0px 30px;
  }
}
@media only screen and (max-width: 595px) {
  .header {
    padding: 0px 20px;
    height: 50px;
  }
}
.header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .logo img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-right: 10px;
}
.header .logo span {
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.header .search-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 451px;
  height: 40px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  padding: 5px 10px;
}
@media only screen and (max-width: 1023px) {
  .header .search-box {
    display: none;
  }
}
.header .search-box img {
  margin-right: 10px;
}
.header .search-box input {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: #4F4F4F;
}
.header .avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #4F4F4F;
}
.header .avatar .user-img-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (max-width: 1023px) {
  .header .avatar .user-img-box {
    display: none;
  }
}
.header .avatar .user-img-box .span {
  font-size: 40px;
  color: #4F4F4F;
  margin-right: 10px;
}
.header .avatar .user-img-box .author {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: #828282;
}
.header .avatar .ham {
  width: 40px;
  height: 30px;
  object-fit: cover;
  display: none;
}
@media only screen and (max-width: 1023px) {
  .header .avatar .ham {
    display: block;
  }
}
@media only screen and (max-width: 595px) {
  .header .avatar .ham {
    width: 30px;
    height: 30px;
  }
}

.nav-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-container .sidebar {
  flex-basis: 25%;
  height: 100%;
  position: relative;
  display: block;
}
@media only screen and (max-width: 1023px) {
  .nav-container .sidebar {
    display: none;
  }
}
.nav-container .sidebar .nav-buttons {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.nav-container .sidebar .nav-buttons .route {
  width: 60%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #505050;
  transition: 300ms;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .nav-container .sidebar .nav-buttons .route {
    width: 80%;
  }
}
.nav-container .sidebar .nav-buttons .route:hover {
  background-color: #0BA348;
  color: white;
  box-shadow: 0px 1px 2px 0px transparent;
}
.nav-container .sidebar .nav-buttons .route div {
  margin-left: 10px;
}
.nav-container .sidebar .nav-buttons .route2 {
  width: 60%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  color: #505050;
  transition: 300ms;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .nav-container .sidebar .nav-buttons .route2 {
    width: 80%;
  }
}
.nav-container .sidebar .nav-buttons .route2 .content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-container .sidebar .nav-buttons .route2 .content div {
  margin-left: 10px;
}
.nav-container .sidebar .nav-buttons .route2:hover {
  background-color: #0BA348;
  color: white;
  box-shadow: 0px 1px 2px 0px transparent;
}
.nav-container .sidebar .nav-buttons .route2 .badge {
  background: #EA1111;
  color: white;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.nav-container .sidebar .settings {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-container .sidebar .settings a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  margin-bottom: 40px;
  text-decoration: none;
  color: #4F4F4F;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  padding: 10px 20px;
  transition: 300ms;
  border-radius: 10px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .nav-container .sidebar .settings a {
    width: 80%;
  }
}
.nav-container .sidebar .settings a div {
  margin-left: 10px;
}
.nav-container .sidebar .settings a:hover {
  background-color: #0BA348;
  color: white;
  box-shadow: 0px 1px 2px 0px transparent;
}
.nav-container .container {
  height: 100%;
  flex: 1;
  overflow: auto;
  scrollbar-face-color: #888;
  scrollbar-track-color: #f1f1f1;
  scrollbar-arrow-color: #555;
  scrollbar-color: dark darkblue;
  scrollbar-width: thin;
  padding-top: 30px;
  padding-left: 0px;
}
@media only screen and (max-width: 1023px) {
  .nav-container .container {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 595px) {
  .nav-container .container {
    padding-left: 0px;
  }
}
.nav-container .container::-webkit-scrollbar {
  width: 10px;
}
.nav-container .container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.nav-container .container::-webkit-scrollbar-thumb {
  background: #888;
}
.nav-container .container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.snippets {
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 30px;
}
.snippets .snippet-header {
  color: #505050;
  font-family: "Clash Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1023px) {
  .snippets .snippet-header {
    font-size: 15px;
    line-break: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .snippets .snippet-header {
    margin-bottom: 10px;
  }
}

.story-cards {
  width: 91%;
  height: 130px;
  border-bottom: 0.5px solid #CCCCCC;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px 0px transparent;
  transition: 300ms;
  padding: 20px;
  text-decoration: none;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .story-cards {
    width: 96%;
  }
}
@media only screen and (max-width: 1023px) {
  .story-cards {
    width: 96%;
  }
}
@media only screen and (max-width: 1023px) {
  .story-cards {
    width: 100%;
    padding: 10px;
  }
}
.story-cards:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.story-cards img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  margin-right: 30px;
}
.story-cards .card-header {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #D30000;
  margin-bottom: 10px;
  word-break: break-all;
}
.story-cards .card-topic {
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 10px;
  color: #505050;
  word-break: break-all;
}
.story-cards .card-author {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  margin-bottom: 10px;
  color: #505050;
  word-break: break-all;
}
.story-cards .card-date {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #707070;
  word-break: break-all;
}

.uploads {
  width: 91%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px;
}
@media only screen and (max-width: 1023px) {
  .uploads {
    width: 96%;
    margin-bottom: 20px;
  }
}
.uploads .upload-btn {
  background-color: #0BA348;
  height: 40px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #F2F2F2;
  text-decoration: none;
  border-radius: 8px;
}
@media only screen and (max-width: 1023px) {
  .uploads .upload-btn {
    width: 140px;
    font-size: 12px;
    line-height: 15px;
  }
}

.drafts {
  width: 91%;
  padding-left: 0px;
}
@media only screen and (max-width: 1023px) {
  .drafts {
    width: 96%;
  }
}
@media only screen and (max-width: 595px) {
  .drafts {
    padding-left: 20px;
  }
}
.drafts .card2 {
  width: 100%;
  height: 130px;
  border-bottom: 0.5px solid #CCCCCC;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px 0px transparent;
  transition: 300ms;
  padding: 20px;
  text-decoration: none;
}
@media only screen and (max-width: 455px) {
  .drafts .card2 {
    height: 150px;
    padding: 10px;
  }
}
.drafts .card2:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.drafts .card2 img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  margin-right: 30px;
}
.drafts .card2 .card-header {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #D30000;
  margin-bottom: 10px;
}
.drafts .card2 .card-header-empty {
  width: 80px;
  height: 26px;
  margin-bottom: 10px;
  border-bottom: 2px solid #D30000;
}
@media only screen and (max-width: 455px) {
  .drafts .card2 .card-header-empty {
    width: 50px;
  }
}
.drafts .card2 .card-topic-empty {
  width: 150px;
  height: 19px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}
@media only screen and (max-width: 455px) {
  .drafts .card2 .card-topic-empty {
    width: 100px;
  }
}
.drafts .card2 .card-topic {
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  margin-bottom: 10px;
  color: #505050;
}
.drafts .card2 .card-author {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  margin-bottom: 10px;
  color: #505050;
}
.drafts .card2 .card-date {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
  color: #707070;
}

.login {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
@media only screen and (max-width: 1023px) {
  .login {
    overflow: auto;
    padding-top: 70px;
  }
}
@media only screen and (max-width: 322px) {
  .login {
    overflow: hidden;
  }
}
.login .img-block {
  width: 45%;
  height: inherit;
  display: block;
}
@media only screen and (max-width: 1023px) {
  .login .img-block {
    display: none;
  }
}
.login .img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.login .login-details {
  height: 100%;
  flex: 1;
}

.login-header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 70px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .login-header {
    padding: 20px 40px;
  }
}
@media only screen and (max-width: 1023px) {
  .login-header {
    padding: 20px 30px;
    height: 60px;
    display: none;
  }
}
.login-header img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}
@media only screen and (max-width: 1023px) {
  .login-header img {
    height: 20px;
    width: 20px;
  }
}
.login-header span {
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
@media only screen and (max-width: 1023px) {
  .login-header span {
    font-size: 12px;
    line-height: 14px;
  }
}

.error {
  width: 100%;
  text-align: center;
  padding: 20px 40px;
  color: #D30000;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1023px) {
  .error {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 571px) {
  .error {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .error {
    padding: 20px 20px;
    margin-bottom: 20px;
  }
}

.User-link {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0px 40px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .User-link {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .User-link {
    margin-bottom: 20px;
  }
}
.User-link div {
  width: 300px;
  text-align: center;
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  overflow: hidden;
}
@media only screen and (max-width: 1023px) {
  .User-link div {
    font-size: 16px;
    line-height: 17px;
  }
}
@media only screen and (max-width: 571px) {
  .User-link div {
    width: 280px;
  }
}
.User-link div .dot {
  color: #707070;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}

.navlink {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .navlink {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1023px) {
  .navlink {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 571px) {
  .navlink {
    margin-bottom: 10px;
  }
}
.navlink a {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2509803922);
  border: 1px solid #CCCCCC;
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 8px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .navlink a {
    width: 70%;
  }
}
@media only screen and (max-width: 1023px) {
  .navlink a {
    width: 70%;
    font-size: 13px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 571px) {
  .navlink a {
    width: 80%;
  }
}
.navlink a img {
  margin-right: 10px;
}

.option {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.option div {
  width: 50%;
  height: 3px;
  background-color: #CCCCCC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  color: #707070;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .option div {
    width: 70%;
  }
}
@media only screen and (max-width: 1023px) {
  .option div {
    width: 70%;
  }
}
@media only screen and (max-width: 571px) {
  .option div {
    margin-bottom: 10px;
    width: 80%;
  }
}
.option div span {
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .input-box {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 1023px) {
  .input-box {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 571px) {
  .input-box {
    margin-top: 20px;
  }
}
.input-box .div {
  width: 50%;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .input-box .div {
    width: 70%;
  }
}
@media only screen and (max-width: 1023px) {
  .input-box .div {
    width: 70%;
    font-size: 14px;
    line-height: 15px;
  }
}
@media only screen and (max-width: 571px) {
  .input-box .div {
    width: 80%;
  }
}
.input-box .div span {
  color: #D30000;
}
.input-box .div input {
  margin-top: 5px;
  width: 100%;
  padding: 10px 10px;
  border-radius: 7px;
  border: 1px solid #CCCCCC;
  outline: none;
  color: #707070;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
}
@media only screen and (max-width: 1023px) {
  .input-box .div input {
    font-size: 14px;
    line-height: 15px;
  }
}
.input-box .div input:focus {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid #2F80ED;
}

.submit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media only screen and (max-width: 571px) {
  .submit {
    margin-top: 20px;
  }
}
.submit div {
  width: 50%;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509803922);
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .submit div {
    width: 70%;
  }
}
@media only screen and (max-width: 1023px) {
  .submit div {
    font-size: 14px;
    line-height: 15px;
    width: 70%;
  }
}
@media only screen and (max-width: 571px) {
  .submit div {
    width: 80%;
  }
}

.container1 {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-warn {
  width: 80%;
  height: 50px;
  border: 2px solid #D30000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D30000;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: center;
  padding: 10px 20px;
  margin-left: 0px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .upload-warn {
    width: 90%;
  }
}
@media only screen and (max-width: 1023px) {
  .upload-warn {
    width: 96%;
    margin-left: 10px;
    font-size: 13px;
    line-height: 13px;
    height: 40px;
  }
}
@media only screen and (max-width: 595px) {
  .upload-warn {
    width: 92%;
    margin-left: 20px;
  }
}

.upload-title {
  margin-bottom: 30px;
  margin-left: 0px;
}
@media only screen and (max-width: 1023px) {
  .upload-title {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 595px) {
  .upload-title {
    margin-left: 20px;
  }
}

.label {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
@media only screen and (max-width: 1023px) {
  .label {
    font-size: 13px;
    line-height: 13px;
  }
}
.label span {
  color: #D30000;
}

.title-input {
  margin-top: 10px;
  width: 91%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 5px;
}
@media only screen and (max-width: 1023px) {
  .title-input {
    width: 97%;
  }
}
@media only screen and (max-width: 595px) {
  .title-input {
    width: 95%;
  }
}
.title-input:focus {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid #2F80ED;
}

.textarea {
  margin-top: 10px;
  width: 91%;
  padding: 20px 20px;
  outline: none;
  border: 1px solid #CCCCCC;
  height: 400px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  border-radius: 5px;
  resize: none;
}
@media only screen and (max-width: 1023px) {
  .textarea {
    width: 97%;
  }
}
@media only screen and (max-width: 595px) {
  .textarea {
    width: 95%;
    height: 200px;
  }
}
.textarea:focus {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid #2F80ED;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px 20px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .categories {
    padding-right: 30px;
  }
}
@media only screen and (max-width: 595px) {
  .categories {
    padding: 10px 25px;
  }
}
.categories .select-category {
  text-decoration: underline;
  color: black;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  flex-basis: 15%;
}
@media only screen and (max-width: 1023px) {
  .categories .select-category {
    font-size: 13px;
    line-height: 14px;
  }
}
@media only screen and (max-width: 595px) {
  .categories .select-category {
    flex-basis: 40%;
  }
}

.cats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.category {
  padding: 7px 7px;
  color: black;
  background-color: white;
  border-radius: 5px;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  transition: 300ms;
  margin-right: 15px;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) {
  .category {
    font-size: 13px;
    line-height: 14px;
    padding: 4px 4px;
  }
}
.category:hover {
  color: white;
  background-color: black;
}

.upload-section {
  width: 91%;
  height: 300px;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 40px;
  padding: 0px 0px;
}
@media only screen and (max-width: 1023px) {
  .upload-section {
    height: 250px;
    padding: 0px 10px;
  }
}
@media only screen and (max-width: 595px) {
  .upload-section {
    height: 150px;
    padding: 0px 25px;
  }
}
.upload-section .display-image {
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-right: 40px;
}
@media only screen and (max-width: 1023px) {
  .upload-section .display-image {
    width: 300px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 595px) {
  .upload-section .display-image {
    width: 380px;
  }
}
.upload-section .display-image .img {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px dashed #CCCCCC;
}
.upload-section .display-image .img2 {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  z-index: 3;
}
.upload-section .clicked {
  width: 200px;
  height: 50px;
}
@media only screen and (max-width: 1023px) {
  .upload-section .clicked {
    width: 100px;
    height: 30px;
  }
}
.upload-section .upload {
  width: 400px;
  height: 200px;
}
.upload-section .upload .story-cover-image {
  color: black;
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) {
  .upload-section .upload .story-cover-image {
    font-size: 15px;
    line-height: 17px;
  }
}
.upload-section .upload .image-support {
  color: #707070;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1023px) {
  .upload-section .upload .image-support {
    font-size: 13px;
    line-height: 14px;
  }
}

.submit-section {
  width: 91%;
  height: 150px;
  margin-top: 30px;
  margin-left: 0px;
}
@media only screen and (max-width: 1023px) {
  .submit-section {
    width: 95%;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 595px) {
  .submit-section {
    width: 91%;
    margin-left: 20px;
  }
}
.submit-section .submit-story {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1023px) {
  .submit-section .submit-story {
    width: 100%;
    font-size: 15px;
    line-height: 16px;
    height: 40px;
  }
}
.submit-section .black {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: black;
  color: white;
}
.submit-section .red {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: red;
  color: white;
}
.submit-section .green {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #0BA348;
  color: white;
}

.modal {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  z-index: 50;
}
.modal .modal-btns {
  width: 700px;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
@media only screen and (max-width: 1023px) {
  .modal .modal-btns {
    height: 400px;
    width: 400px;
  }
}
@media only screen and (max-width: 455px) {
  .modal .modal-btns {
    width: 90%;
  }
}
.modal .modal-btns .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-btns .modal-topic {
  text-align: center;
  padding: 20px;
  color: black;
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}
@media only screen and (max-width: 1023px) {
  .modal .modal-btns .modal-topic {
    font-size: 15px;
    line-height: 15px;
  }
}
.modal .modal-btns .modal-message {
  padding: 10px 0px;
  text-align: center;
  color: #828282;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
}
@media only screen and (max-width: 1023px) {
  .modal .modal-btns .modal-message {
    font-size: 13px;
    line-height: 14px;
  }
}
.modal .modal-btns .modal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  flex-direction: row;
}
@media only screen and (max-width: 1023px) {
  .modal .modal-btns .modal-btn-container {
    flex-direction: column;
  }
}
.modal .modal-btns .modal-btn-container .modal-save {
  width: 40%;
  height: 60px;
  margin-right: 20px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 0px;
}
@media only screen and (max-width: 1023px) {
  .modal .modal-btns .modal-btn-container .modal-save {
    margin-bottom: 20px;
    width: 100%;
    margin-right: 0px;
    font-size: 15px;
    height: 50px;
  }
}
.modal .modal-btns .modal-btn-container .publish {
  color: white;
  background-color: #0BA348;
}
.modal .modal-btns .modal-btn-container .cancle {
  border: 1px solid #BDBDBD;
  color: black;
}

.Navbar {
  height: 100vh;
  width: 500px;
  background-color: white;
  position: fixed;
  top: 0;
  overflow-y: auto;
  padding: 20px;
  left: -100%;
  transition: all 0.5s;
  z-index: 10;
}
@media only screen and (max-width: 595px) {
  .Navbar {
    width: 100%;
  }
}
.Navbar .nav-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.Navbar .nav-user span {
  font-size: 40px;
}
.Navbar .nav-user .nav-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Navbar .nav-user .nav-name .name-container {
  margin-left: 10px;
}
.Navbar .nav-user .nav-name .name-container .main-name {
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #4F4F4F;
}
.Navbar .nav-user .nav-name .name-container .nav-author {
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}
.Navbar .search-box2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  padding: 5px 10px;
}
.Navbar .search-box2 img {
  margin-right: 10px;
}
.Navbar .search-box2 input {
  flex: 1;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  color: #4F4F4F;
}

.nav-btn1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  margin-top: 30px;
  color: #505050;
  width: 100%;
  padding: 10px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 7px;
  transition: 300ms;
}
.nav-btn1:hover {
  background-color: #0BA348;
  color: white;
}
.nav-btn1 div {
  margin-left: 10px;
}

.nav-btn2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  margin-top: 30px;
  color: #505050;
  width: 100%;
  padding: 10px 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 7px;
  transition: 300ms;
}
.nav-btn2:hover {
  background-color: #0BA348;
  color: white;
}
.nav-btn2 .nav-first {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-btn2 .nav-first div {
  margin-left: 10px;
}
.nav-btn2 .badge2 {
  background: #EA1111;
  color: white;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.admin_home {
  width: 95%;
  padding: 0px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .admin_home {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .admin_home {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .admin_home {
    width: 98%;
  }
}
@media only screen and (max-width: 599px) {
  .admin_home {
    padding: 5px;
    width: 100%;
  }
}
.admin_home .home_first {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
@media only screen and (max-width: 700px) {
  .admin_home .home_first {
    flex-direction: column;
  }
}
.admin_home .home_first .home_details {
  width: 65%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 25px;
  padding: 10px;
  margin-bottom: 0px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .admin_home .home_first .home_details {
    padding: 5px 5px;
    width: 70%;
  }
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .home_details {
    padding: 5px 5px;
    width: 70%;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .admin_home .home_first .home_details {
    width: 100%;
  }
}
.admin_home .home_first .home_details .notify_block {
  border: 1px solid #0BA348;
  flex-basis: 31%;
  height: 190px;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1019607843);
  border-radius: 10px;
  transition: 300ms;
  padding: 30px 20px;
  font-family: "Archivo", sans-serif;
  text-decoration: none;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .admin_home .home_first .home_details .notify_block {
    flex-basis: 32%;
  }
}
@media only screen and (max-width: 599px) {
  .admin_home .home_first .home_details .notify_block {
    flex-basis: 100%;
  }
}
.admin_home .home_first .home_details .notify_block:hover {
  box-shadow: 0px 0px 16px 15px rgba(0, 0, 0, 0.1019607843);
}
.admin_home .home_first .home_details .notify_block .block_first {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.admin_home .home_first .home_details .notify_block .block_first div {
  margin-left: 5px;
  color: #505050;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .home_details .notify_block .block_first div {
    font-size: 11px;
  }
}
.admin_home .home_first .home_details .notify_block .block_first span {
  font-size: 30px;
  color: #505050;
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .home_details .notify_block .block_first span {
    font-size: 20px;
  }
}
.admin_home .home_first .home_details .notify_block .block_second {
  font-family: "Clash Display", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: black;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .home_details .notify_block .block_second {
    font-size: 18px;
  }
}
.admin_home .home_first .home_details .notify_block .block_third {
  color: #828282;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .home_details .notify_block .block_third {
    font-size: 11px;
  }
}
.admin_home .home_first .add_authors {
  width: 35%;
  height: auto;
  padding: 10px 40px;
  margin-top: 0px;
  margin-left: 0px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .admin_home .home_first .add_authors {
    padding: 10px 10px;
    width: 30%;
  }
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .add_authors {
    padding: 10px 20px;
    width: 30%;
  }
}
@media only screen and (max-width: 700px) {
  .admin_home .home_first .add_authors {
    width: 50%;
    padding: 0px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 599px) {
  .admin_home .home_first .add_authors {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 455px) {
  .admin_home .home_first .add_authors {
    width: 70%;
  }
}
.admin_home .home_first .add_authors .authors_toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  height: 52px;
  background-color: #E2FDED;
  color: #0BA348;
  font-family: "Archivo", sans-serif;
  border-radius: 8px;
}
.admin_home .home_first .add_authors .authors_toggle .toggle1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.admin_home .home_first .add_authors .authors_toggle .toggle1 div {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .add_authors .authors_toggle .toggle1 div {
    font-size: 13px;
  }
}
.admin_home .home_first .add_authors .author_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  border: 1px dashed #0BA348;
  border-radius: 8px;
  color: #0BA348;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-decoration: none;
  display: none;
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .add_authors .author_btn {
    font-size: 12px;
  }
}
.admin_home .home_first .add_authors .author_btn div {
  margin-left: 15px;
}
.admin_home .home_first .add_authors .show_authors {
  width: 100%;
  height: 0px;
  overflow: hidden;
  padding: 10px;
  opacity: 1;
  transition: 0.5s;
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .add_authors .show_authors {
    padding: 5px;
  }
}
.admin_home .home_first .add_authors .show_authors::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.admin_home .home_first .add_authors .show_authors::-webkit-scrollbar-track {
  background: white;
}
.admin_home .home_first .add_authors .show_authors::-webkit-scrollbar-thumb {
  background: transparent;
}
.admin_home .home_first .add_authors .show_authors::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.admin_home .home_first .add_authors .show_authors .authors_card {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0px 4px 16px 0px rgba(0, 33, 83, 0.0509803922);
  background: #FFFFFF;
  margin-bottom: 10px;
  transition: 0.5s;
  overflow: hidden;
}
.admin_home .home_first .add_authors .show_authors .authors_card .div4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.admin_home .home_first .add_authors .show_authors .authors_card .div3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #4F4F4F;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .add_authors .show_authors .authors_card .div3 {
    font-size: 11px;
  }
}
.admin_home .home_first .add_authors .show_authors .authors_card .div3 div {
  margin-left: 10px;
}
.admin_home .home_first .add_authors .show_authors .authors_card .div3 span {
  font-size: 30px;
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .add_authors .show_authors .authors_card .div3 span {
    font-size: 20px;
  }
}
.admin_home .home_first .add_authors .show_authors .authors_card .div5 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.admin_home .home_first .add_authors .show_authors .authors_card .div5 .remove {
  text-decoration: none;
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  padding: 3px 20px;
  margin-right: 10px;
  border-radius: 5px;
}
@media only screen and (max-width: 1023px) {
  .admin_home .home_first .add_authors .show_authors .authors_card .div5 .remove {
    font-size: 8px;
  }
}
.admin_home .home_first .add_authors .show_authors .authors_card .div5 .delete_author {
  background-color: #D30000;
}
.admin_home .home_first .add_authors .show_authors .authors_card .div5 .edit_author {
  background-color: #0BA348;
}

.home_users {
  width: 96%;
  height: auto;
  border: 1px solid #707070;
  margin-top: 70px;
  margin-left: 10px;
  border-radius: 15px;
  padding: 20px;
}
@media only screen and (max-width: 1023px) {
  .home_users {
    width: 95%;
  }
}
@media only screen and (max-width: 599px) {
  .home_users {
    width: 97%;
  }
}
@media only screen and (max-width: 599px) {
  .home_users {
    padding: 7px;
    margin-left: 5px;
  }
}
.home_users .view_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
  color: black;
}
@media only screen and (max-width: 1023px) {
  .home_users .view_all {
    font-size: 13px;
  }
}
.home_users .view_all a {
  color: black;
}

.Users_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #CCCCCC;
  height: 102px;
  padding: 10px;
  text-decoration: none;
}
@media only screen and (max-width: 599px) {
  .Users_card {
    padding: 0px;
  }
}
.Users_card .main_image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: black;
}
@media only screen and (max-width: 1023px) {
  .Users_card .main_image {
    font-size: 13px;
  }
}
@media only screen and (max-width: 599px) {
  .Users_card .main_image {
    font-size: 11px;
  }
}
.Users_card .main_image img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
@media only screen and (max-width: 1023px) {
  .Users_card .main_image img {
    height: 30px;
    width: 30px;
  }
}
.Users_card .main_image div {
  margin-left: 10px;
}
.Users_card .main_image span {
  font-size: 35px;
}

.blk {
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
}
@media only screen and (max-width: 1023px) {
  .blk {
    padding: 10px 10px;
    font-size: 8px;
  }
}
@media only screen and (max-width: 599px) {
  .blk {
    padding: 5px;
    margin-left: 5px;
  }
}

.edit_btn {
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 20px;
  font-family: "Archivo", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  background-color: #707070;
  color: white;
  border-radius: 5px;
}
@media only screen and (max-width: 599px) {
  .edit_btn {
    font-size: 7px;
    padding: 5px 8px;
    margin-left: 5px;
  }
}

.blk-empty {
  border: 1px solid #111111;
  color: black;
  border-radius: 5px;
}

.blk-filled {
  color: white;
  background-color: #EA1111;
  border-radius: 5px;
}

.admin_users {
  width: 96%;
  padding: 0px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .admin_users {
    width: 98%;
  }
}
@media only screen and (max-width: 1023px) {
  .admin_users {
    width: 98%;
  }
}
@media only screen and (max-width: 599px) {
  .admin_users {
    padding: 15px;
    width: 100%;
  }
}
.admin_users .all_users {
  color: #505050;
  font-family: "Clash Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1023px) {
  .admin_users .all_users {
    font-size: 15px;
  }
}

.admin_blocked_user {
  width: 96%;
  padding: 0px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .admin_blocked_user {
    width: 98%;
  }
}
@media only screen and (max-width: 599px) {
  .admin_blocked_user {
    padding: 15px;
    width: 100%;
  }
}
@media only screen and (max-width: 455px) {
  .admin_blocked_user {
    padding: 8px;
  }
}

.admin_magazine {
  width: 96%;
  padding: 0px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .admin_magazine {
    width: 98%;
  }
}
@media only screen and (max-width: 599px) {
  .admin_magazine {
    padding: 13px;
  }
}
@media only screen and (max-width: 455px) {
  .admin_magazine {
    padding: 5px;
  }
}

.magazine_card {
  width: 100%;
  height: 132px;
  border-bottom: 0.5px solid #CCCCCC;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 20px;
  text-decoration: none;
}
@media only screen and (max-width: 599px) {
  .magazine_card {
    height: 138px;
  }
}
.magazine_card .img {
  width: 114px;
  height: 100%;
  object-fit: cover;
  margin-right: 10px;
}
.magazine_card .mgz-cat {
  margin-bottom: 10px;
  color: #D30000;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
}
@media only screen and (max-width: 1023px) {
  .magazine_card .mgz-cat {
    font-size: 13px;
  }
}
@media only screen and (max-width: 599px) {
  .magazine_card .mgz-cat {
    font-size: 10px;
  }
}
.magazine_card .mgz-topic {
  color: black;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) {
  .magazine_card .mgz-topic {
    font-size: 13px;
  }
}
@media only screen and (max-width: 599px) {
  .magazine_card .mgz-topic {
    font-size: 10px;
  }
}
.magazine_card .mgz-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-family: "Clash Display", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) {
  .magazine_card .mgz-logo {
    font-size: 10px;
  }
}
.magazine_card .mgz-logo img {
  width: 14px;
  height: 14px;
  object-fit: cover;
  margin-right: 10px;
}
.magazine_card .mgz-date {
  color: #707070;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
}
@media only screen and (max-width: 1023px) {
  .magazine_card .mgz-date {
    font-size: 10px;
  }
}
@media only screen and (max-width: 599px) {
  .magazine_card .mgz-date {
    font-size: 8px;
  }
}

.magazine-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 0px;
}
.magazine-btn .mgn-topic {
  color: #505050;
  font-family: "Clash Display", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
@media only screen and (max-width: 1023px) {
  .magazine-btn .mgn-topic {
    font-size: 15px;
  }
}
@media only screen and (max-width: 599px) {
  .magazine-btn .mgn-topic {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 455px) {
  .magazine-btn .mgn-topic {
    margin-left: 5px;
    font-size: 10px;
  }
}
.magazine-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #0BA348;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  border: 1px solid transparent;
  transition: 300ms;
}
@media only screen and (max-width: 1023px) {
  .magazine-btn a {
    font-size: 11px;
    padding: 5px 8px;
  }
}
.magazine-btn a:hover {
  background-color: white;
  color: #0BA348;
  border: 1px solid #0BA348;
}
.magazine-btn a div {
  margin-left: 10px;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}
.loader div {
  width: 40px;
  margin-right: 20px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  animation: load 1s ease-in-out infinite;
}
@media only screen and (max-width: 1023px) {
  .loader div {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}

.admin_notication {
  width: 96%;
  padding: 0px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .admin_notication {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .admin_notication {
    width: 100%;
  }
}
@media only screen and (max-width: 599px) {
  .admin_notication {
    padding: 5px;
  }
}

.special_input {
  width: 90.08%;
  margin-bottom: 30px;
  margin-left: 5px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .special_input {
    width: 91%;
  }
}
@media only screen and (max-width: 1023px) {
  .special_input {
    width: 96%;
  }
}
@media only screen and (max-width: 599px) {
  .special_input {
    width: 91%;
    margin-left: 20px;
  }
}
.special_input input {
  width: 100%;
  padding: 15px 10px;
  outline: none;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: none;
  transition: 0.3s;
  margin-top: 10px;
  border-radius: 5px;
}
@media only screen and (max-width: 1023px) {
  .special_input input {
    padding: 10px 10px;
  }
}
.special_input input:focus {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1490196078);
  border: 1px solid #2F80ED;
}
.special_input label {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
@media only screen and (max-width: 1023px) {
  .special_input label {
    font-size: 14px;
  }
}
.special_input span {
  color: #D30000;
}

.special_btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509803922);
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  background-image: linear-gradient(0deg, #707070, #707070), linear-gradient(0deg, #CCCCCC, #CCCCCC);
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: white;
}
@media only screen and (max-width: 1023px) {
  .special_btn {
    width: 95%;
    height: 40px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 599px) {
  .special_btn {
    margin-left: 20px;
    width: 91%;
  }
}

.admin-authors {
  width: 96%;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .admin-authors {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .admin-authors {
    width: 100%;
  }
}
.admin-authors .add {
  margin-left: 5px;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509803922);
  width: 83px;
  height: 61px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 1023px) {
  .admin-authors .add {
    font-size: 13px;
    height: 41px;
    width: 79px;
  }
}
@media only screen and (max-width: 599px) {
  .admin-authors .add {
    font-size: 10px;
    margin-left: 20px;
    height: 31px;
    width: 69px;
  }
}

.admin-subcription {
  width: 96%;
  padding: 0px;
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .admin-subcription {
    width: 98%;
  }
}
@media only screen and (max-width: 1023px) {
  .admin-subcription {
    width: 98%;
  }
}
@media only screen and (max-width: 599px) {
  .admin-subcription {
    width: 100%;
    padding: 20px;
  }
}

.subscription_card {
  width: 100%;
  height: 102px;
  border-bottom: 0.5px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.subscription_card .main_image2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  color: black;
}
@media only screen and (max-width: 599px) {
  .subscription_card .main_image2 {
    font-size: 10px;
  }
}
.subscription_card .main_image2 img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.subscription_card .main_image2 div {
  margin-left: 10px;
}
.subscription_card .main_image2 span {
  font-size: 35px;
}

.modal2 {
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal2 .modal_content {
  width: 70%;
  height: 620px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
@media only screen and (max-width: 1023px) {
  .modal2 .modal_content {
    width: 90%;
    height: 90%;
    padding: 10px;
  }
}

.special_add {
  border: 1px solid #CCCCCC;
  height: 61px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: 5px;
  margin-top: 20px;
  border-radius: 5px;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  color: white;
}
@media only screen and (max-width: 1023px) {
  .special_add {
    font-size: 13px;
    height: 41px;
    width: 97%;
  }
}

.show-name {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo", sans-serif;
  padding: 20px;
  font-size: 20px;
  border: 1px dashed black;
  background-color: white;
}
@media only screen and (max-width: 1023px) {
  .show-name {
    font-size: 13px;
  }
}

.error {
  width: 100%;
  background-color: red;
  position: absolute;
  top: -200%;
  left: 0;
  font-family: "Archivo", sans-serif;
  color: white;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  transition: 0.5s;
  z-index: 200;
}
@media only screen and (max-width: 1023px) {
  .error {
    font-size: 15px;
    height: 70px;
  }
}
.error div {
  margin-left: 30px;
}
.error div span {
  font-size: 45px;
}
@media only screen and (max-width: 1023px) {
  .error div span {
    font-size: 30px;
  }
}

.fetch-loader {
  width: 100%;
  height: 500px;
  background-color: #BDBDBD;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}
.fetch-loader div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  background-image: linear-gradient(to left, transparent, white, transparent);
  animation: slide 1s ease-in-out infinite;
}

.fetch-error {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: #BDBDBD;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Archivo", sans-serif;
  font-weight: bold;
  font-size: 50px;
  padding: 30px;
  line-height: 20px;
}
@media only screen and (max-width: 1023px) {
  .fetch-error {
    font-size: 30px;
    line-height: 15px;
  }
}
@media only screen and (max-width: 571px) {
  .fetch-error {
    font-size: 20px;
    line-height: 10px;
    height: 400px;
  }
}
.fetch-error img {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}
@media only screen and (max-width: 1023px) {
  .fetch-error img {
    width: 200px;
    height: 200px;
    margin-right: 18px;
  }
}
@media only screen and (max-width: 571px) {
  .fetch-error img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
  }
}

.fetch-empty {
  width: 100%;
  height: 500px;
  background-color: #BDBDBD;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Archivo", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1023px) {
  .fetch-empty {
    font-size: 20px;
    font-weight: bold;
    height: 300px;
  }
}
@media only screen and (max-width: 571px) {
  .fetch-empty {
    font-size: 15px;
    font-weight: bold;
    height: 200px;
  }
}

.error-notice {
  width: 100%;
  height: 80px;
  background-color: #0BA348;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Archivo", sans-serif;
  color: white;
  transition: 0.5s;
}
@media only screen and (max-width: 1023px) {
  .error-notice {
    font-size: 15px;
    height: 60px;
  }
}
.error-notice div {
  margin-right: 20px;
}
.error-notice span {
  font-size: 40px;
}
@media only screen and (max-width: 1023px) {
  .error-notice span {
    font-size: 30px;
  }
}

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes load {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}/*# sourceMappingURL=App.css.map */